<%-include("../header")%>
<form action="/products/create" method="post">
<div>
    Name <input type="text" name="name"/>
    </div>
    <div>
        Price <input type="text" name="price"/>
        </div>
        <div>
            Description <textarea name="description"></textarea>
            </div>
            <div>
               <input type="submit" value="submit"/>
                </div>
            </form>
            <%-include("../footer")%>